@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
html, body, main { height: 100%; }
body {
    font-family: 'Jeju Gothic', sans-serif;
}
main {
    position: relative;
    background-color: #33DDAA;
    transition: background-color 1.5s;
}
h1,h2,h4 { display: none; }
h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 85px;
    color: #555;
}
nav {
    position: absolute;
    top: 35%;
    background-color: #ddd;
    width: 100%;
    height: 200px;
    text-align: center;
    z-index: 999;
    opacity: 0.9;
    transition: opacity 0.7s;
}
nav #retryButton {
    width: 100px;
    margin-top: 28px;
    height: 33px;
    display: none;
    background-color: #ccc;
    font-family: 'Jeju Gothic', sans-serif;
}

nav.blur { opacity: 0; }

@keyframes floating {
    from { margin-top: -88px; }
    to { margin-top: -72px; }
}
@keyframes fromLeft {
    from { transform: translateX(-1000px); }
    to { transform: translateX(0px); }
}
@keyframes fromRight {
    from { transform: translateX(1000px); }
    to { transform: translateX(0px); }
}
@keyframes fromTop {
    from { transform: translateY(-1000px); }
    to { transform: translateY(0px); }
}
@keyframes fromBottom {
    from { transform: translateY(1000px); }
    to { transform: translateY(0px); }
}
@keyframes rotateClockwise {
    from { transform: rotate(-12deg); }
    to { transform: rotate(12deg); }
}

.cardGrid {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
}

.cardGrid.floating {
    animation-name: floating;
    animation-duration: 0.9s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}
.cardGrid .row > div {
    font-size: 42px;
    color: white;
    float: left;
}
.cardGrid .row > div.fromleft {
    animation-name: fromLeft;
    animation-duration: 0.7s;
}
.cardGrid .row > div.fromright {
    animation-name: fromRight;
    animation-duration: 0.7s;
}
.cardGrid .row > div.fromtop {
    animation-name: fromTop;
    animation-duration: 0.7s;
}
.cardGrid .row > div.frombottom {
    animation-name: fromBottom;
    animation-duration: 0.7s;
}
.cardGrid p {
    transform-origin: top left;
}
.cardGrid span {
    display: inline-block;
}
.cardGrid nobr {
    display: inline-block;
}
.cardGrid .c0 { display: none; }
.cardGrid .c1 { width: 25%; }
.cardGrid .c2 { width: 50%; }
.cardGrid .c3 { width: 75%; }
.cardGrid .c4 { width: 100%; }
.cardGrid .r0 { display: none; }
.cardGrid .r1 { min-height: 40px;}
.cardGrid .r2 { min-height: 80px;}
.cardGrid .r3 { min-height: 120px;}
.cardGrid .r4 { min-height: 160px;}
.cardGrid .mt1 { margin-top: -40px; }
.cardGrid .mt2 { margin-top: -80px; }
.cardGrid .mt3 { margin-top: -120px; }
.cardGrid .ml1 { margin-left: -40px; }
.cardGrid .ml2 { margin-left: -80px; }
.cardGrid .ml3 { margin-left: -120px; }
