html, body, main { height: 100%; }
main {
    position: relative;
    background-color: #33DDAA;
    transition: background-color 1s;
}
section {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 160px;
    margin: -80px 0 0 -80px;
    background-color: #ccc;
    1transform: rotate(-20deg);
    font-size: 40px;
}

.cardGrid {
    box-sizing: border-box;
}

.row:before, .row:after {
    content: "";
    display: table;
    clear: both;
}
.cardGrid .row > div {
    float: left;
    box-sizing: border-box;
}
.cardGrid p {
    transform-origin: top left;
}
.cardGrid .c1 { width: 25%; }
.cardGrid .c2 { width: 50%; }
.cardGrid .c3 { width: 75%; }
.cardGrid .c4 { width: 100%; }
.cardGrid .r1 { min-height: 40px;}
.cardGrid .r2 { min-height: 80px;}
.cardGrid .r3 { min-height: 120px;}
.cardGrid .r4 { min-height: 160px;}
.cardGrid .mt1 { margin-top: -40px; }
.cardGrid .mt2 { margin-top: -80px; }
.cardGrid .mt3 { margin-top: -120px; }
.cardGrid .ml1 { margin-left: -40px; }
.cardGrid .ml2 { margin-left: -80px; }
.cardGrid .ml3 { margin-left: -120px; }
